html, body, p, ul{
    margin: 0px;
    padding: 0px;

}
/* container chung cua tat ca cac thanh phan lon*/
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoHeader{
    font-size: 25px;
    font-weight: bold
}
.text--description{
    font-size: 25px;
    font-weight: 400;
}
.colorbtn{
    height: 20px;
    width: 30px;
    box-shadow: 3px 3px 0px 0px rgb(119, 133, 130, 0.55);
}
.padding--bottom--8{
    padding-bottom: 8px;
}

.main{
    background-color: #fff;
}
.info{
    margin: 0px 50px;
    padding: 20px ;
    display: flex;
    align-items: center;
    gap: 20px;
}
.info__img{
    width: 60%;
}
.info__img .img__container img{
    width: 100%;
    border-radius: 7px;
    border: 4px lightslategray solid;
}

.info__description{

}
.info__description .name{
    font-size: 50px;
    font-weight: bolder;
}
.info__description .color{
    display: flex;
    gap: 10px;
}
.info__description .btnCointainer{
    display: flex;
    width: fit-content;
}

.redbtn, .blackbtn{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px 10px;
    
}
.redbtn:hover, .blackbtn:hover{
    background-color: rgb(147, 157, 163);
}
.redbtn .colorbtn{
    background-color: red;
}
.blackbtn .colorbtn{
    background-color: black;
}


.container--button{
    
}
.container--button .buy{
    font-size: 25px;
    font-weight: 600;
    background-color: #e31c25;
    color: #fff;
    padding: 5px 16px;
    border: none;
    box-shadow: 3px 3px 0px 0px rgb(119, 133, 130, 0.55);
    margin: 10px 10px 10px 0px;
    border-radius: 5px;
    border: 1px #e8e8e8 solid;

}
.container--button .buy:hover{
    background-color: #e54d54;
}


.container--button .addToCart{
    font-size: 25px;
    font-weight: 600;
    background-color: rgb(176, 162, 162);
    padding: 5px 10px;
    border: none;
    box-shadow: 3px 3px 0px 0px rgb(119, 133, 130, 0.55);
    margin: 10px 10px 10px 0px;
    border-radius: 5px;
    border: 1px #e8e8e8 solid;
}
.container--button .addToCart:hover{
    background-color: #e8d5d5;
}

/* duong phan cach */
.seprator{
    border-radius: 15px;
    border: 2px black solid;
    width: 95%;
}


/* thông số  */
.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    margin-bottom: 50px;
    width: fit-content;
}

.detail--container{

}
.cursor__pointer{
    cursor: pointer;
}
.detail--header{
    font-size: 3rem;
    font-weight: bolder;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 30px 0px;

}
.detail--option{
    padding: 10px;
    width: 920px;
    border-bottom: 1px solid #151515;
}

.options{
    width: 920px;
    padding: 0;
    display: none;

}
.section--header{
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 15px;

}
.header--text{
    font-size: 15px;
    font-weight: 350;
    text-transform: uppercase;
}
.text--item{
    font-size: 14px;
    font-weight: 500;
}
.gray-100{
    background-color: #f8f9fa;
    box-shadow: 2px 3px 0px 0px rgba(134, 164, 163, 0.347);
}
.item{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.item--header{
   max-width: 350px;
   width: 100%;
   padding: 15px 25px;
}
.item--detail{
    max-width: 500px;
    width: 100%;
}











