html, body, p, ul{
    margin: 0;
    padding: 0;

}
.infoHeader{
    font-size: 25px;
    font-weight: bold
}
.text--description{
    font-size: 25px;
    font-weight: 400;
}
.colorbtn{
    height: 20px;
    width: 30px;
    box-shadow: 3px 3px 0px 0px rgb(119, 133, 130, 0.55);
}
.padding--bottom--8{
    padding-bottom: 8px;
}

.main{
    background-color: #fff;
}
.info{
    margin: 0px 50px;
    padding: 20px ;
    display: flex;
    align-items: center;
    gap: 20px;
}
.info__img{
    width: 65%;
}
.info__img .img__container img{
    width: 100%;
    border-radius: 7px;
    border: 4px lightslategray solid;
}

.info__description{

}
.info__description .name{
    font-size: 50px;
    font-weight: bolder;
}
.info__description .color{
    display: flex;
    gap: 10px;
}
.info__description .btnCointainer{
    display: flex;
    width: fit-content;
}

.redbtn, .blackbtn{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px 10px;
    
}
.redbtn:hover, .blackbtn:hover{
    background-color: rgb(147, 157, 163);
}
.redbtn .colorbtn{
    background-color: red;
}
.blackbtn .colorbtn{
    background-color: black;
}


.container--button{
    
}
.container--button .buy{
    font-size: 25px;
    font-weight: 600;
    background-color: #e31c25;
    color: #fff;
    padding: 5px 16px;
    border: none;
    box-shadow: 3px 3px 0px 0px rgb(119, 133, 130, 0.55);
    margin: 10px 10px 10px 0px;
    border-radius: 5px;
    border: 1px #e8e8e8 solid;

}
.container--button .buy:hover{
    background-color: #e54d54;
}


.container--button .addToCart{
    font-size: 25px;
    font-weight: 600;
    background-color: rgb(176, 162, 162);
    padding: 5px 10px;
    border: none;
    box-shadow: 3px 3px 0px 0px rgb(119, 133, 130, 0.55);
    margin: 10px 10px 10px 0px;
    border-radius: 5px;
    border: 1px #e8e8e8 solid;
}
.container--button .addToCart:hover{
    background-color: #e8d5d5;
}

/* thông số  */
.detail--header{

}
.text--header{

}
.text--item{

}
.gray-100{
    background-color: #f8f9fa;
}

.item{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.item--header{
    width: 20%;
}
.item--detail{
    
}











