html, body, p, ul{
    margin: 0px;
    padding: 0px;
}
/* container chung cua tat ca cac thanh phan lon*/
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}
.info{
    /* margin: 0px 50px; */
    padding: 20px 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: lightgray;
}
.infoHeader{
    font-size: 25px;
    font-weight: bold
}
.text--description{
    font-size: 25px;
    font-weight: 400;
}
.colorbtn{
    height: 20px;
    width: 30px;
    box-shadow: 3px 3px 0px 0px rgb(119, 133, 130, 0.55);
}
.padding--bottom--8{
    padding-bottom: 8px;
}
.info__img{
    width: 60%;
}
.info__img .img__container img{
    width: 100%;
    border-radius: 7px;
    border: 4px lightslategray solid;
}

.info__description{

}
.info__description .name{
    font-size: 50px;
    font-weight: bolder;
}
.info__description .color{
    display: flex;
    gap: 10px;
}
.info__description .btnCointainer{
    display: flex;
    width: fit-content;
}

.redbtn, .blackbtn{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px 10px;
    border-radius: 10px;
}
.redbtn:hover, .blackbtn:hover{
    background-color: rgb(147, 157, 163);
}
.redbtn .colorbtn{
    background-color: red;
}
.blackbtn .colorbtn{
    background-color: black;
}


.container--button{
    
}
.container--button .buy{
    font-size: 25px;
    font-weight: 600;
    background-color: #e31c25;
    color: #fff;
    padding: 5px 16px;
    border: none;
    box-shadow: 3px 3px 0px 0px rgb(119, 133, 130, 0.55);
    margin: 10px 10px 10px 0px;
    border-radius: 5px;
    border: 1px #e8e8e8 solid;

}
.container--button .buy:hover{
    background-color: #e54d54;
}


.container--button .addToCart{
    font-size: 25px;
    font-weight: 600;
    background-color: rgb(176, 162, 162);
    padding: 5px 10px;
    border: none;
    box-shadow: 3px 3px 0px 0px rgb(119, 133, 130, 0.55);
    margin: 10px 10px 10px 0px;
    border-radius: 5px;
    border: 1px #e8e8e8 solid;
}
.container--button .addToCart:hover{
    background-color: #e8d5d5;
}

/* duong phan cach */
.seprator{
    border-radius: 15px;
    border: 2px black solid;
    width: 95%;
}


/* thông số  */
.detail{
    margin: 20px;
}
.detail--header{

}
.detail--header{
    font-size: 3rem;
    font-weight: bolder;
    width: 800px;
    padding: 20px 0px;
}
.accordion{
    width: 800px;
}
.accordionItem__Header{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bolder;
}
.item--header{
    max-width: 350px;
    width: 100%;
    padding: 10px 25px;
    margin-bottom: 0px;
    text-transform: uppercase;
 }
 .item--detail{
     max-width: 500px;
     padding: 10px 0px;
     width: 100%;
 }

/* other products */
.uppercase{
    text-transform: uppercase;
}

.card-text{
    font-size: 15px;
    font-weight: 450;
}
.card--body{
    padding: 10px 5px; 
    background: #2c2727;
    
}
.padding__5px__8px{
    padding: 5px 8px;
}
.text__white{
    color: white;
}
.img__modi{
    max-width: 350px;
    width: 300px;
    max-height: 250px;
    height: 200px;
}
.cursor__pointer{
    cursor: pointer;
}