.logo-img{
    width: 150px;
    margin-right: 10px;
    margin-left: 80px;
}
.separator{
    border-left: 3px white solid;
    height: 40px;
    margin: 0 10px;
}
.header__text{
    margin-left: 10px;
    color: white;
    font-size: 30px;
    font-weight: 450;
    text-transform: capitalize;
}
.header{
    background-color: black;
    height: 80px;
    /* margin-bottom: 20px; */
}
.head__line{
    background-image: repeating-linear-gradient(45deg, #e31c25, #e31c25 33px, transparent 0, transparent 41px,
    #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
    height: 6px;
}

.img-modi{
    max-width: 100px;
    /* max-height: 100px; */
    border-radius: 10px;
    background-color: rgb(247, 247, 232);
    
}
.pName{
    max-width: 200px;
}
.number{
    border-top: 2px yellow solid;
    border-bottom: 2px yellow solid;
}
.button-modi{
    border: none;
    border-left: 2px yellow solid;
    border-right: 2px yellow solid;
    width: 25px;
    height: 20px;
}
.quantity{
    text-align: center;
    width: 30px;
}