* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}
body {
    background-image: url('../img/background.png'); /* Thay URL ảnh nền vào đây */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.flex-flex {
    display: flex;
}

.flex-justifyContent--center {
    justify-content: center;
}

.padding-top--24 {
    padding-top: 24px;
}

.padding-top--48 {
    padding-top: 48px;
}

.box-root {
    box-sizing: border-box;
}


.logo {
    height: 60px;
    display: block;
    margin: 0 auto;
}


.form-container {
    background-color: #ffffff;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all 0.3s ease;

}
.form-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}


h2 {
    color: #333;
    font-size: 20px;
    margin: 0 0 10px;
}

label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: all 0.3s ease;

}
/*input[type="text"]:hover,*/
/*input[type="email"]:hover{*/
/*    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);*/
/*    transform: translateY(-2px);*/
/*}*/
input[type="text"]:focus,
input[type="email"]:focus
 {
    outline: none;
    border-color: #e31c25;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.captcha-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.captcha-container input {
    width: 50%;
}

.captcha-img {
    height: 0px;
    width: 0px;
}

button {
    background-color: red;
    border: none;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease;

}

button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
}
.captcha-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.captcha-container input {
    width: 60%;
}
