.main{
    /* background-color: lightgrey; */
}
.noTextDecoration{
    text-decoration: none;
}
.logo-img{
    width: 150px;
    margin-right: 20px;
    margin-left: 80px;
}
.separator{
    border-left: 3px white solid;
    height: 40px;
    margin: 0 10px;
}
.header__text{
    margin-left: 20px;
    color: white;
    font-size: 25px;
    font-weight: 450;
    text-transform: capitalize;
}
.header{
    background-color: black;
    height: 80px;
    /* margin-bottom: 20px; */
}


.container{
    width: 60%;
}
.address{
    width: 80%;
    background-color: aliceblue;
}
.head__line{
    background-image: repeating-linear-gradient(45deg, #e31c25, #e31c25 33px, transparent 0, transparent 41px,
    #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
    height: 10px;
}
.ti-location-pin{
    color: orange;
    width: fit-content;
}




/* !!!!!!!!!!!!!! */
.left-container{
    width: 60%;
    /* height: 100%; */
    margin: 100px;
    margin-top: 20px;
    padding: 20px;
    border: 5px #e31c25 solid;
    border-radius: 10px;
    /* background-color: lightgray; */
}
.info-container{
    background-color: lightgray;
}
.left--header{
    font-weight: 620; 
    border-bottom: 3px black solid; 
    width: fit-content;
    padding: 10px;
}
.breadcrumb-item::before { /* đường phân cách giữa các breadcrumb*/
    font-size: 1.75rem;
    font-weight: 800;
}
.info{
}
.button{
    border-radius: 10px;
    float: right;
    background-color: #e31c25;
    margin: 20px 0;
    border: 2px white solid;
}
.button:hover{
    
}


.right-container{
    width: 40%;
    /* height: 100px; */
    /* background-color: red; */
}
.product{

}
.product--header{
    border-bottom: 2px yellow solid;
}
.product--name {
    float: left;
}
.product--price {
    float: right;
}
.product--shipping{
    border-bottom: 2px yellow solid;
}



