html{
    background-color: rgb(234, 234, 234);
}
.main{
    /* background-color: lightgrey; */
}
.noTextDecoration{
    text-decoration: none;
    color: rgb(208, 110, 110);
    opacity: 0.5;
}
.noTextDecoration:hover{
    color: rgb(208, 110, 110);
    opacity: 1;

}

.logo-img{
    width: 150px;
    margin-right: 20px;
    margin-left: 80px;
}
.separator{
    border-left: 3px white solid;
    height: 40px;
    margin: 0 10px;
}
.header__text{
    margin-left: 20px;
    color: white;
    font-size: 25px;
    font-weight: 550;
    text-transform: capitalize;
}
.header{
    background-color: black;
    height: 80px;
    /* margin-bottom: 20px; */
}
.head__line{
    background-image: repeating-linear-gradient(45deg, #e31c25, #e31c25 33px, transparent 0, transparent 41px,
    #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
    height: 10px;
}
.ti-location-pin{
    color: orange;
    width: fit-content;
}




/* !!!!!!!!!!!!!! */
.breadcrumb--container{
    padding: 30px 100px;
}



.left-container{
    width: 60%;
    margin: 50px;
    margin-top: 0;
    padding: 20px;
    /* border: 5px #e31c25 solid; */
    border-radius: 10px;
    background-color: #fff;
}
.info-container{
    background-color: rgb(234, 234, 234);
}
.left--header{
    font-weight: 620; 
    border-bottom: 3px black solid; 
    width: fit-content;
    padding: 10px;
}
.info{

}
.payment{
    border-radius: 0.5rem;
}
.option-label{
    font-size: 1.25rem;
    font-weight: 400;
    font-style: normal;
    color: #212529;
    opacity: 0.8;
}
.button{
    border-radius: 10px;
    float: right;
    background-color: #e31c25;
    margin: 20px 0;
    border: 2px white solid;
}
.button:hover{
    
}


.right-container{
    width: 40%;
    border-radius: 10px;
    margin: 50px;
    margin-top: 0;
    padding: 40px;
    height: fit-content;
    background-color: #fff;
}
.product{

}
.product--header{
    border-bottom: 2px darkcyan solid;
}
.product--name {
    float: left;
}
.product--price {
    float: right;
}
.product--shipping{
    border-bottom: 2px darkcyan solid;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}


/* trang xac nhan thanh toan */
.noti{
    font-size: 30px;
    width: 100%;
}
.fa-circle-check{
    color: #e31c25;
}
.title-code{
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
}
.code{
    font-size: 20px;
    font-weight: 500;
}
.cus-info{
    border-radius: 10px;
    /* border: 20px rgb(225, 202, 202) solid; */
    border: 20px solid transparent;
    border-image: linear-gradient(to left, rgb(224, 183, 183), #cd4f55) 1;
}
.title{
    width: 40%;
    font-size: 1.75rem;
    font-weight: 600;
}
.content{
    font-size: 1.75rem;
    font-weight: 370;
}

