.main{
    /* background-color: lightgrey; */
}
.logo-img{
    width: 150px;
    margin-right: 20px;
    margin-left: 80px;
}
.separator{
    border-left: 3px yellow solid;
    height: 40px;
    margin: 0 10px;
}
.header__text{
    margin-left: 20px;
    color: white;
    font-size: 25px;
    font-weight: 450;
    text-transform: capitalize;
}
.header{
    background-color: blue;
    /* margin-bottom: 20px; */
}


.container{
    width: 60%;
}
.address{
    width: 80%;
    background-color: aliceblue;
}
.head__line{
    background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px,
    #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
    height: 10px;
}
.ti-location-pin{
    color: orange;
    width: fit-content;
}




/* !!!!!!!!!!!!!! */
.left-container{
    width: 60%;
    height: 100%;
    /* background-color: yellow; */
}
.right-container{
    width: 40%;
    height: 100px;
    background-color: red;

}