Webike/.gradle/8.7/checksums/checksums.lock
Webike/.gradle/8.7/executionHistory/executionHistory.bin
Webike/.gradle/8.7/executionHistory/executionHistory.lock
Webike/.gradle/8.7/fileHashes/fileHashes.bin
Webike/.gradle/8.7/fileHashes/fileHashes.lock
Webike/.gradle/8.7/fileHashes/resourceHashesCache.bin
Webike/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Webike/.gradle/file-system.probe
