html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

.from_sub {
    width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.form_sub_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form_sub_header h2 {
    font-size: 30px;
}

.close-btn {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}
.container > div > input {
    width: 80%;
    height: 20px;
   padding: 20px;
}
.container button{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    width: 100%;
    border: none;
    cursor: pointer;


}
.container .logo {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 10px;
}
.container .sub{
    color: deepskyblue;
}
.container .logo .fb{
    color: blue;
}
.container .logo .gg{
    color: red;
}
.container h5{
    text-align: center;
}