html, body {
    padding: 0;
    margin: 0;
    font-family:Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}
.container {
    width: 500px;
    height: 600px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
}
.container h1 {
    text-align: center;
}
.container > div > input {
    width: 80%;
    height: 20px;
   padding: 20px;
}
.container button{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    width: 100%;
    border: none;
    cursor: pointer;


}
.container .logo {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 10px;
}
.container .sub{
    color: deepskyblue;
}
.container .logo .fb{
    color: blue;
}
.container .logo .gg{
    color: red;
}
.container h5{
    text-align: center;
}