html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

.from_sub {
    width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.form_sub_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form_sub_header h2 {
    font-size: 30px;
}

.close-btn {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.input_name {
    display: flex;
    gap: 10px;
}

.input_name input {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input_information input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox input {
    margin-right: 10px;
}

.checkbox a {
    color: #007bff;
    text-decoration: none;
}

.checkbox a:hover {
    text-decoration: underline;
}

.submit_btn {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
}

.container .logo {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 10px;
}
.container .sub{
    color: deepskyblue;
}
.container .logo .fb{
    color: blue;
}
.container .logo .gg{
    color: red;
}
.container h5{
    text-align: center;
}