:root {
    --primary-color: #ee4d2d ;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star--gold-color: #ee9d09;
    --header-height : 123px;
    --navbar-height : 34px;
    --header__search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .m-r-8 {
    margin-right: 8px;
  }

  .m-r-16 {
    margin-right: 16px;
  }

  

  /* responsive */
  .grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
  }

  .grid-2-8 {
    display: grid;
    grid-template-columns: 20% 80%;
  }

  .grid__full-width {
    align-items: center;
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    max-width: 1280px;
    /* nho check lai */
    height: 100%; 
  }


  .grid__row--margin {
    margin-left: -15px;
    margin-right: -15px;
  }
  .grid__row {
    display: flex;
    flex-wrap: wrap;
  }

  .grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    /* width: calc(2/5 * 100%); */
    width: 20%;
  }

  .grid_column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    /* width: calc(2/5 * 100%); */
    width: 20%;
  }
  .grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    /* width: calc(10/12 * 100%); */
    width: 83.3333333334%;
  }

  /*toast message*/
.toastify {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border-radius: 8px;
  padding: 12px 20px;
}

  /* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  } 
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  } 
  to {
    transform: scale(var(--growth-to));
  }
}

@keyframes glow {
  0% {
    opacity: 0.75;
    text-shadow: none;
    transform: scale(0.9);
  }
  30% {
    opacity: 1;
    text-shadow: 0 0 10px var(--color),
    0 0 20px var(--color),
    0 0 40px var(--color);
    transform: scale(1.1);
  }
  70% {
    opacity: 1;
    text-shadow: 0 0 5px var(--color),
    0 0 10px var(--color);
    transform: scale(1);
  }
  100% {
    opacity: 0.75;
    text-shadow: none;
    transform: scale(0.95);
  }
}

@keyframes autoRun{
  from{
    left: 100%;
  }to{
     left: calc(var(--width) * -1);
   }
}
  
/* Modal */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0 , 0, 0, 0.4);
  animation: fadeIn linear .1s;
}

.modal__body {
  --growth-from: 0.7;
  --growth-to: 1;
  margin: auto;
  position: relative;
  z-index: 1;
  animation: growth linear .2s;
}

.auth-form__controls {
  margin-top: 80px;
}

/* button style */

.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
    cursor: pointer;
}

.btn.btn--nomal:hover{
  background-color: rgba(0 , 0, 0, 0.07);
}

.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}

.btn.btn--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn.btn--white {
  background-color: var(--white-color);
  color: var(--text-color);
}

.btn.btn--disabled {
  cursor: default;
  /* filter: brightness(80%); */
  color: #949494;
  background-color: #c3c3c3;
}

/* selection */

.select-input {
  position: relative;
  min-width: 200px;
  height: 34px;
  padding: 0 12px;
  border-radius: 2px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select-input__label {
  font-size: 1.4rem;
  color: var(--text-color);
}

.select-input__icon {
  font-size: 1.4rem;
  color: rgb(131, 131, 131);
  position: relative;
  top: 1px;
}

.select-input:hover .select-input__list {
  display: block;
}

.select-input__list {
  position: absolute;
  left: 0;
  right: 0;
  top: 25px;
  border-radius: 2px;
  background-color: var(--white-color);
  padding: 8px 16px;
  list-style: none;
  display: none;
  z-index: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.select-input__link {
  font-size: 2rem;
  color: var(--text-color);
  text-decoration: none;
  display: block;
  padding: 8px 0;

}
.select-input__link:hover {
  color: var(--primary-color);
}

/* pagination */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.pagination-item {
  margin: 0 12px;
}

.pagination-item--active .pagination-item__link {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.pagination-item--active .pagination-item__link:hover {
  background-color: #ed5c3f;
}
.pagination-item__link {
  --height : 30px;
  display: block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 30;
  color: #939393;
  min-width: 40px;
  height: var(--height);
  line-height: var(--height);
  text-align: center;
  border-radius: 2px;
}



