.main{
    background-color: lightgrey;
}
.logo-img{
    width: 150px;
    margin-right: 10px;
    margin-left: 80px;
}
.separator{
    border-left: 3px white solid;
    height: 40px;
    margin: 0 10px;
}
.header__text{
    margin-left: 10px;
    color: white;
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize;
}
.header{
    background-color: black;
    height: 80px;
    /* margin-bottom: 20px; */
}
.head__line{
    background-image: repeating-linear-gradient(45deg, #e31c25, #e31c25 33px, transparent 0, transparent 41px,
    #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
    height: 6px;
}
.head{
    background-color: white;
}
input[type="checkbox"] {
    transform: scale(1.5); /* Tăng kích thước checkbox */
}
.text{
    font-size: 18px;
    font-weight: 500;
}
.text-1{
    font-size: 20px;
    font-weight: 400;
}
.list-product{
    position: relative;
}
.control , .item{
    background-color: white;
}
.brand-label{

}
.full-width{
    width: 100%;
}
.img-modi{
    width: 180px;
    height: 130px;
    border-radius: 10px;
    background-color: rgb(247, 247, 232);
    
}
.pName{
    max-width: 500px;
}
.number{
    /* border-top: 2px yellow solid;
    border-bottom: 2px yellow solid; */
}
.button-modi{
    border: none;
    border: 1px black solid;
    width: 35px;
    height: 35px;
}
.fa-minus , .fa-plus{
    font-size: 20px;
}
.quantity{
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    text-align: center;
    width: 45px;
    height: 35px;
}


/* toast aka noti */
.toast{
    background-color: #e31c25;
}
.toast-text{
    font-size: 15px;
    color: white;
}
.custom-close{
    width: 25px;
    height: 25px;
    font-size: 15px;
    background-color: white;
}


/* buy button */
.buy-section{
    background-color: white;
    padding: 10px 50px;
    flex: 1;
    position: sticky;
    bottom: 0;
}
.buybtn{
    border-radius: 6px;
    background-color: #e31c25;
    padding: 10px 30px;
}
.buybtn-text{
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.price{
    color: orangered;
}