.footer {
    border-top: 3px solid #000;
    margin-top: 50px;
    font-size: 1.6rem;
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 0 20px;
}

.footer h5 {
    font-size: 2.4rem;
    font-weight: 600;
}

.footer ul a {
    text-decoration: none;
    color: var(--white-color);
}

.footer__banking {
    height: 35px;
    width: 52.5px;
}

.footer__rectangle img  {
    width: 265px;
    height: 60.5px;
    margin-top: 10px;
}