/* Thanh quản lý lịch sử mua hàng */
.order-tabs {
    margin-bottom: 20px;
}

.tabs-list {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #ddd;
}

.tab-item {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
}

.tab-item__link {
    text-decoration: none;
    color: inherit;
}

.tab-item .tab-item__link:hover {
    color: #ff4500;
}

.tab-item--active {
    color: #ff4500;
}

.tab-item--active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ff4500;
    animation: slideIn 0.3s ease forwards;
}



.search-bar {
    width: 100%;
    display: flex;
    align-items: center;
}

.search-label {
    display: block;
    width: 100px;
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 21px;
}

.search-input {
    width: 100%;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.search-input::placeholder {
    color: #999;
    text-align: left;
}

