/**/
/* Header */
/**/

/* Slider */


.slider_img {
    width: 100%;
    height: 350px;
    object-fit: contain;
}

.bg__control {
    background: rgba(0, 0, 0, .6) !important;
}

.slider h5 {
    font-weight: 600;
    font-size: 4.6rem;
    text-shadow: 0 1px 2px #000;
}

.slider__arrow-width {
    width: 23%;
}

.slider p {
    font-size: 1.6rem;
    text-shadow: 0 1px 2px #000;
}

/* product */
.product {
    height: 200px;
}

/* categoty product */

#motorSelectionCategory {
    margin-top: 20px;
    height: 740px;
}

.motorbike__row {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.motorbike-item {
    height: 370px;
    width: calc((100% / 3) - 16px);
    margin: 8px;
    box-shadow: 0 2px 3px #ccc;
}

.motorbike-item-link {
    text-decoration: none;
    color: var(--black-color);
    height: 100%;
    display: block;
}

.motorbike-item-link:hover .motorbike__title {
    color: var(--primary-color);
}

.motorbike-item-link:hover span {
    color: var(--primary-color);
}

.motorbike__content {
    height: 100%;
}

.motorbike__thumb {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.motorbike-item-img {
    width: 100%;
    height: 264px;
    object-fit: contain;
}

.motorbike__body {
    text-align: center;
    height: 170px;
    background-color: #f5f5f5;
    position: relative;
}


.motorbike__title {
    padding-top: 56px;
    font-size: 2.6rem;;
    height: 100%;
    color: #5f5f5f;
    text-align: center;
    position: relative;
}

.motorbike__body--bf {
    position: absolute;
    top: 4px;
    width: 85px;
    height: 34px;
    right: 200px;
    background-color: #f5f5f5;
    transform: translateY(-100%);
    border-radius: 51% 49% 100% 0 / 100% 100% 0 0;
}

.motorbike__body--bf::before {
    content: "";
    position: absolute;
    width: 67px;
    height: 44px;
    bottom: 4px;
    box-shadow: 4px 14px 0 0 #f5f5f5;
    right: 77px;
    border-radius: 0 100% 100% 0 / 100% 57% 43% 0;
}

.motorbike__body--bf::after {
    content: "";
    position: absolute;
    width: 67px;
    height: 44px;
    bottom: 5px;
    box-shadow: -4px 14px 0 0 #f5f5f5;
    left: 77px;
    border-radius: 100% 0 0 100% / 57% 100% 0 43%;
}

.motorbike__body-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 3px solid #de0000;
    border-right: 3px solid #de0000;
    transform: rotate(45deg) translate(2px, 3px);
}

.motorbike__body-icon::before {
    content: "";
    position: absolute;
    top: 0;
    right: -2px;
    width: 18px;
    height: 3px;
    background-color: #de0000;
    transform-origin: right center;
    transform: rotate(-45deg) translateY(-2.5px);
}

.motorbike__body-see-all {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.motorbike__body-see-all-icon {
    color: #de0000;
}

/*Introduce*/
.bike-introduce {
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.banner-img {
    position: relative;
    width: 100%;
    object-fit: cover;
}

.banner-img img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.bike-intro__main {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 185px 60px 60px 30px;
}

.bike__header {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    height: 76px;
    transform: skew(-12deg);
    margin-left: 8px;
}

.bike__header::before {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 47%;
    width: 11px;
    left: 15px;
}

.bike__header p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) skew(-4deg);
    font-size: 4.4rem;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    text-align: left;
    padding-left: 40px;
    padding-right: 20px;
    font-family: BeVietnamPro-BlackItalic;

}

.bike__description {
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.6;
    margin-top: 20px;
    margin-left: 40px;
}

.bike__button {
    text-align: left;
    margin-top: 20px;
    margin-left: 36px;
}

.bike__button--link {
    text-decoration: none;
}

.btn-container {
    display: inline-flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #fff;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-container:hover {
    background-color: #e65c00;
}

.btn-container--text {
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
}

.btn-container--icon {
    font-size: 16px;
}

/* brand*/
.motor__brand {
    margin: 40px 0;
    width: 100%;
    /* height: 150px; */
}

.motor__brand--heading{
    padding-left: 40px;
}

.motor__brand--title{
    font-size: 2.4rem;
    text-transform: uppercase;
}

.motor__brand--list {
    display: flex;
    margin: 20px 8px 24px;
    padding-left: 26px;
}

.brand-item {
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 8px;
    transition: 0.4s;
}

.brand-item:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
}

.brand-link {
    display: block;
    height: 75px;
    overflow: hidden;
    border: 1px solid #efefef;
}

.brand-link > img {
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
    object-fit: contain;
}

/* dealer */
.dealer {
    margin: 40px 0;
    width: 100%;
}

.dealer__heading {
    padding-left: 40px;
}

.dealer__heading--title {
    font-size: 2.4rem;
    text-transform: uppercase;
}

.dealer__list {
    margin-top: 20px;
}

.dealer__list--row {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.dealer__list--item {
    text-decoration: none;
    display: block;
    height: 310px;
    width: calc((100% / 3) - 16px);
    margin: 8px;
    box-shadow: 0 2px 3px #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dealer__list--item:hover {
    /* transform: translateY(-5px); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dealer__list--img {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.dealer__list--img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: grayscale(100%); */
    transition: transform 0.3s ease;
}

.dealer__list--item:hover .dealer__list--img img {
    transform: scale(1.1);
}

.dealer__list--name {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 500;
}

.dealer__list--description {
    padding: 16px;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 1.6;
}

.dealer__list--description p {
    margin: 0;
}








/* footer */
.footer {
    border-top: 3px solid #000;
    margin-top: 50px;
    font-size: 1.6rem;
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 0 20px;
}

.footer h5 {
    font-size: 2.4rem;
    font-weight: 600;
}

.footer ul a {
    text-decoration: none;
    color: var(--white-color);
}

.footer__banking {
    height: 35px;
    width: 52.5px;
}

.footer__rectangle img  {
    width: 265px;
    height: 60.5px;
    margin-top: 10px;
}