html, body, p, ul {
    margin: 0px;
    padding: 0px;
}

/* container chung cua tat ca cac thanh phan lon*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.info {
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: lightgray;
}

.infoHeader {
    font-size: 25px;
    font-weight: bold
}

.text--description {
    font-size: 25px;
    font-weight: 400;
}

.colorbtn {
    height: 20px;
    width: 30px;
    box-shadow: 3px 3px 0px 0px rgb(119, 133, 130, 0.55);
}

.padding--bottom--8 {
    padding-bottom: 8px;
}

.info__img {
    width: 60%;
}

.info__img .img__container img {
    width: 100%;
    max-height: 500px;
    border-radius: 7px;
    border: 4px lightslategray solid;
}

.info__description {

}

.info__description .name {
    font-size: 50px;
    font-weight: bolder;
}

.info__description .color {
    display: flex;
    gap: 10px;
}

.info__description .btnCointainer {
    display: flex;
    width: fit-content;
    gap: 5px;
}

.redbtn, .blackbtn .colorbtn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px 10px;
    border-radius: 10px;
}

.redbtn:hover, .blackbtn:hover ,.colorbtn:hover{
    background-color: rgb(147, 157, 163);
}

/*.redbtn .color {*/
/*    background-color: red;*/
/*}*/

/*.blackbtn .color {*/
/*    background-color: black;*/
/*}*/


.container--button {

}

.container--button .buy {
    font-size: 25px;
    font-weight: 600;
    background-color: #e31c25;
    color: #fff;
    padding: 5px 16px;
    border: none;
    box-shadow: 3px 3px 0px 0px rgb(119, 133, 130, 0.55);
    margin: 10px 10px 10px 0px;
    border-radius: 5px;
    border: 1px #e8e8e8 solid;

}

.container--button .buy:hover {
    background-color: #e54d54;
}


.container--button .addToCart {
    font-size: 25px;
    font-weight: 600;
    background-color: rgb(176, 162, 162);
    padding: 5px 10px;
    border: none;
    box-shadow: 3px 3px 0px 0px rgb(119, 133, 130, 0.55);
    margin: 10px 10px 10px 0px;
    border-radius: 5px;
    border: 1px #e8e8e8 solid;
}

.container--button .addToCart:hover {
    background-color: #e8d5d5;
}

/* tinh nang noi bat */
.features {

}

.features--header {
    font-size: 3rem;
    font-weight: bolder;
}

.img-warp {
    position: relative;
}

.img-background img {
    position: relative;
    z-index: 0;
    width: 1200px;
    height: 350px;
    border-radius: 5px;
    opacity: 0.9;
}

.img-background .img-text {
    position: absolute;
    z-index: 1;
    color: #fff;
    font-size: 30px;
    left: 30px;
    top: 15px;
    opacity: 0.8;
}

.img-bike img {
    width: 600px;
    height: 375px;
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 600px;
    width: 600px;
}

.features .des {
    font-size: 17px;
    font-weight: 400;
    max-width: 600px;
    width: fit-content;
}

/* feature item */
.features-item {
    gap: 35px;
}

.features-item .fItem {
    list-style-type: none;
    width: 300px;
    border-radius: 6px;
    height: 500px;
}

.features-item .fItem .img-bound {
    width: 100%;
    height: 30%;
    background-color: lightgray;
    border-radius: 6px;
}

.features-item li .des {

}


/* thông số  */
.detail {
    margin: 20px;
}

.detail--header {

}

.detail--header {
    font-size: 3rem;
    font-weight: bolder;
    width: 800px;
    padding: 20px 0px;
}

.accordion {
    width: 970px;
    margin: 15px 10px;

}

.accordion-item {
    /* padding: 15px 10px; */
}

.accordion-header {
    /* padding: 15px 10px; */

}

.accordionItem__Header {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    /* margin: 15px 10px; */
}

.item--header {
    max-width: 350px;
    width: 100%;
    padding: 10px 25px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.item--detail {
    max-width: 500px;
    padding: 10px 0px;
    width: 100%;
}

/* other products */
.uppercase {
    text-transform: uppercase;
}

.card-text {
    font-size: 15px;
    font-weight: 450;
}

.card--body {
    padding: 10px 5px;
    background: #2c2727;

}

.padding__5px__8px {
    padding: 5px 8px;
}

.text__white {
    color: white;
}

.img__modi {
    max-width: 350px;
    width: 300px;
    max-height: 250px;
    height: 200px;
}

.cursor__pointer {
    cursor: pointer;
}