.admin__sidebar {
    height: 100vh;
    background-color: var(--black-color);
}

.admin__sidebar--top {
    background-color: var(--black-color);
    height: var(--top-height);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

.admin__sidebar--top img {
    width: 100px;
}

.admin__sidebar--content > ul > li > a {
    width: 100%;
    display: block;
    display: flex;
    justify-content: flex-start;
}

.admin__sidebar--content > ul > li > a i:last-child {
    margin-left: auto;
}

.admin__sidebar--content ul li a {
    margin-right: 6px;
}

.admin__sidebar--content {
    font-size: 1.6rem;
    padding: 30px 0 0 30px;
    color: var(--white-color);
}

.admin__sidebar--content ul li {
    padding: 8px;
    transition: var(--main-transition);
}

.admin__sidebar--content ul li:hover {
    background-color: var(--black-color);
}

.sub-menu {
    height: 0;
    overflow: hidden;
    transition: var(--main-transition);
}

.sub-menu li:hover a {
    color: var(--color-hover-text);
}

/* .sub-menu.active {
    height: 60px;
} */