.header {
    height: var(--header-height);
    background-color: var(--black-color);
    /* background-color: #595959; */
}

.logo {
    display: inline-block;
    list-style: none;
    border: 0;
    outline: 0;
    margin-right: 12.5rem;
}

.logo img {
    width: 168px;
    height: 61px;
}

/* Header */

.header__navbar {
    width: 100%;
}

.header__navbar--top > ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.header__navbar--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
    padding-top: 24px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar--item {
    display: inline-block;
    position: relative;
}

/* user menu */

.header__navbar--user {
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
}

.header__navbar--user-name {
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 500;
    margin-left: 8px;
}

.header__navbar--user-img {
    width: 30px;
    border-radius: 50%;
    
}

.header__navbar--user:hover .header__navbar--user-menu {
    display: block;
}

.header__navbar--user-menu {
    position: absolute;
    z-index: 4;
    padding-left: 0;
    color: var(--black-color);
    top: calc(100% + 5px);
    right: 0;
    background-color: var(--white-color);
    width: 166px;
    list-style: none;
    border-radius: 2px;
    box-shadow: 0 1px 2px #ccc;
    display: none;
    animation: fadeIn 0.3s ease;
}

.header__navbar--user-menu::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header__navbar--user-menu::after {
    content: "";
    height: 20px;
    width: 40px;
    display: block;
    position: absolute;
    right: 48px;
    top: -10px;
}

.header__navbar--user-menu-item {

}

.header__navbar--user-menu-item > a {
    color: var(--black-color);
    text-decoration: none;
    font-size: 1.4rem;
    padding: 6px 16px;
    display: block;
}

.header__navbar--user-menu-item > a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar--user-menu-item > a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar--user-menu-item > a:hover {
    background-color: #f5f5f5;
}



/*  */

.header__navbar--item > a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0 0.8rem;
}

.header__navbar--separate::after {
    content: '';
    display: block;
    position: absolute;
    border: 1px solid #595959;
    height: 12px;
    right: 0;
    top: 6px;
}

.header__navbar--item > a:hover {
    color: var(--primary-color);
}

.header__navbar--top_right {
    display: flex;
    align-items: center;
}

.header__navbar--icon a {
    text-decoration: none;
    color: var(--white-color);
    opacity: 0.5;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0 0.8rem;
}

.header__navbar--icon a:hover {
    opacity: 1;
    color: var(--white-color);
}


/* bot*/
.header__navbar--bot {
    height: var(--header__search-height);
    display: flex;
    align-items: center;
}

.header__search {
    height: 40px;
    background-color: var(--white-color);
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart {
    width: 120px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header__cart-link {
    padding: 5px;
    display: flex;
    align-items: center;
    height: 40px;
    background-color:#ccc ;
    border-radius: 2px;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 500;
}

.header__cart-link:hover {
    opacity: 0.8;
}

.header__cart-icon {
    font-size: 2.6rem;
    color: var(--black-color);
}


.header__cart--text {
    display: block;
    color: var(--black-color);
}

.header__search--input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
    margin-bottom: 7px;
}

.header__search-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label{ 
    font-size: 1.4rem;
    color: var(--text-color);
}   

.header__search-select-icon{ 
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search--btn {
    background-color: var(--primary-color);
    border: none;
    height: 36px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
}

.header__search--btn:hover {
    background-color: #d25238;
    cursor: pointer;

}

.header__search--btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option {
    padding-left: 0;
    list-style: none;
    position: absolute;
    width: 100px;
    right: 0;
    top: 114%;
    box-shadow: 0 1px 2px #ccc;
    border-radius: 3px;
    display: none;
    animation: fadeIn 0.3s ease-in-out;
}

.header__search-option::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 40px;
    top: -24px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
    border-bottom: 1px solid #ccc;
}

.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
} 

.header__search-option-item span {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}










/* footer */
.footer {
    border-top: 3px solid #000;
    margin-top: 50px;
    font-size: 1.6rem;
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 0 20px;
}

.footer h5 {
    font-size: 2.4rem;
    font-weight: 600;
}

.footer ul a {
    text-decoration: none;
    color: var(--white-color);
}

.footer__banking {
    height: 35px;
    width: 52.5px;
}

.footer__rectangle img  {
    width: 265px;
    height: 60.5px;
    margin-top: 10px;
}




