.header {
    height: var(--header-height);
    background-color: var(--black-color);
    /* background-color: #595959; */
}

.logo {
    display: inline-block;
    list-style: none;
    border: 0;
    outline: 0;
    margin-right: 12.5rem;
}

.logo img {
    width: 168px;
    height: 61px;
}

/* Header */

.header__navbar {
    width: 100%;
}

.header__navbar--top ul {
    display: flex;
    padding: 0;
    margin: 0;
    
    list-style: none;
}

.header__navbar--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
    padding-top: 24px;
}

.header__navbar--item {
    display: inline-block;
    position: relative;
}

.header__navbar--item a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0 0.8rem;
}

.header__navbar--separate::after {
    content: '';
    display: block;
    position: absolute;
    border: 1px solid #595959;
    height: 12px;
    right: 0;
    top: 0;
}

.header__navbar--item a:hover {
    color: var(--primary-color);
}

.header__navbar--top_right {
    display: flex;
    align-items: center;
}

.header__navbar--icon a {
    text-decoration: none;
    color: var(--white-color);
    opacity: 0.5;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0 0.8rem;
}

.header__navbar--icon a:hover {
    opacity: 1;
    color: var(--white-color);
}


/* bot*/
.header__navbar--bot {
    height: var(--header__search-height);
    display: flex;
    align-items: center;
}

.header__search {
    height: 40px;
    background-color: var(--white-color);
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart {
    width: 120px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header__cart-link {
    padding: 5px;
    display: flex;
    align-items: center;
    height: 40px;
    background-color:#ccc ;
    border-radius: 2px;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 500;
}

.header__cart-link:hover {
    opacity: 0.8;
}

.header__cart-icon {
    font-size: 2.6rem;
    color: var(--black-color);
}


.header__cart--text {
    display: block;
    color: var(--black-color);
}

.header__search--input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}

.header__search-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label{ 
    font-size: 1.4rem;
    color: var(--text-color);
}   

.header__search-select-icon{ 
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search--btn {
    background-color: var(--primary-color);
    border: none;
    height: 36px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
}

.header__search--btn:hover {
    background-color: #d25238;
    cursor: pointer;

}

.header__search--btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option {
    padding-left: 0;
    list-style: none;
    position: absolute;
    width: 100px;
    right: 0;
    top: 114%;
    box-shadow: 0 1px 2px #ccc;
    border-radius: 3px;
    display: none;
    animation: fadeIn 0.3s ease-in-out;
}

.header__search-option::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 40px;
    top: -24px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
    border-bottom: 1px solid #ccc;
}

.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
} 

.header__search-option-item span {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}

/* Slider */


.slider_img {
    width: 100%;
    height: 350px;
    object-fit: contain;
}

.bg__control {
    background: rgba(0, 0, 0, .6) !important;
}

.slider h5 {
    font-weight: 600;
    font-size: 4.6rem;
    text-shadow: 0 1px 2px #000;
}

.slider__arrow-width {
    width: 23%;
}

.slider p {
    font-size: 1.6rem;
    text-shadow: 0 1px 2px #000;
}

/* product */
.product {
    height: 200px;
}

/* categoty product */

#motorSelectionCategory {
    margin-top: 20px;
    height: 740px;
}

.motorbike__row {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.motorbike-item {
    height: 370px;
    width: calc((100% / 3) - 16px);
    margin: 8px;
    box-shadow: 0 2px 3px #ccc;
}

.motorbike-item-link {
    text-decoration: none;
    color: var(--black-color);
    height: 100%;
    display: block;
}

.motorbike-item-link:hover .motorbike__title {
    color: var(--primary-color);
}

.motorbike-item-link:hover span {
    color: var(--primary-color);
}

.motorbike__content {
    height: 100%;
}

.motorbike__thumb {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.motorbike-item-img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.motorbike__body {
    text-align: center;
    height: 170px;
    background-color: #f5f5f5;
    position: relative;
}


.motorbike__title {
    padding-top: 56px;
    font-size: 2.6rem;;
    height: 100%;
    color: #5f5f5f;
    text-align: center;
    position: relative;
}

.motorbike__body--bf {
    position: absolute;
    top: 4px;
    width: 85px;
    height: 34px;
    right: 200px;
    background-color: #f5f5f5;
    transform: translateY(-100%);
    border-radius: 51% 49% 100% 0 / 100% 100% 0 0;
}

.motorbike__body--bf::before {
    content: "";
    position: absolute;
    width: 67px;
    height: 44px;
    bottom: 4px;
    box-shadow: 4px 14px 0 0 #f5f5f5;
    right: 77px;
    border-radius: 0 100% 100% 0 / 100% 57% 43% 0;
}

.motorbike__body--bf::after {
    content: "";
    position: absolute;
    width: 67px;
    height: 44px;
    bottom: 5px;
    box-shadow: -4px 14px 0 0 #f5f5f5;
    left: 77px;
    border-radius: 100% 0 0 100% / 57% 100% 0 43%;
}

.motorbike__body-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 3px solid #de0000;
    border-right: 3px solid #de0000;
    transform: rotate(45deg) translate(2px, 3px);
}

.motorbike__body-icon::before {
    content: "";
    position: absolute;
    top: 0;
    right: -2px;
    width: 18px;
    height: 3px;
    background-color: #de0000;
    transform-origin: right center;
    transform: rotate(-45deg) translateY(-2.5px);
}

.motorbike__body-see-all {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.motorbike__body-see-all-icon {
    color: #de0000;
}





