.header {
    height: var(--header-height);
    background-color: var(--black-color);
    /* background-color: #595959; */
}

.logo {
    display: inline-block;
    list-style: none;
    border: 0;
    outline: 0;
    margin-right: 12.5rem;
}

.logo img {
    width: 168px;
    height: 61px;
}

/* Header */

.header__navbar {
    width: 100%;
}

.header__navbar--top ul {
    display: flex;
    padding: 0;
    margin: 0;
    
    list-style: none;
}

.header__navbar--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
    padding-top: 24px;
}

.header__navbar--item {
    display: inline-block;
    position: relative;
}

.header__navbar--item a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0 0.8rem;
}

.header__navbar--separate::after {
    content: '';
    display: block;
    position: absolute;
    border: 1px solid #595959;
    height: 12px;
    right: 0;
    top: 0;
}

.header__navbar--item a:hover {
    color: var(--primary-color);
}

.header__navbar--top_right {
    display: flex;
    align-items: center;
}

.header__navbar--icon a {
    text-decoration: none;
    color: var(--white-color);
    opacity: 0.5;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0 0.8rem;
}

.header__navbar--icon a:hover {
    opacity: 1;
    color: var(--white-color);
}


/* bot*/
.header__navbar--bot {
    height: var(--header__search-height);
    display: flex;
    align-items: center;
}

.header__search {
    height: 40px;
    background-color: var(--white-color);
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart {
    width: 120px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header__cart-link {
    padding: 5px;
    display: flex;
    align-items: center;
    height: 40px;
    background-color:#ccc ;
    border-radius: 2px;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 500;
}

.header__cart-link:hover {
    opacity: 0.8;
}

.header__cart-icon {
    font-size: 2.6rem;
    color: var(--black-color);
}


.header__cart--text {
    display: block;
    color: var(--black-color);
}

.header__search--input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}

.header__search-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label{ 
    font-size: 1.4rem;
    color: var(--text-color);
}   

.header__search-select-icon{ 
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search--btn {
    background-color: var(--primary-color);
    border: none;
    height: 36px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
}

.header__search--btn:hover {
    background-color: #d25238;
    cursor: pointer;

}

.header__search--btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option {
    padding-left: 0;
    list-style: none;
    position: absolute;
    width: 100px;
    right: 0;
    top: 114%;
    box-shadow: 0 1px 2px #ccc;
    border-radius: 3px;
    display: none;
    animation: fadeIn 0.3s ease-in-out;
}

.header__search-option::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 40px;
    top: -24px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
    border-bottom: 1px solid #ccc;
}

.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
} 

.header__search-option-item span {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}

/*  */

.container {
    margin: 10px 20px;
}

.motor__market {
    border-top: 8px solid #2a313c;
    padding: 8px 0;
}

.box__title {
    text-align: center;
    margin-bottom: 12px;
}

.box__title span {
    max-width: 615px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.box__title span::before {
    content: "";
    display: block;
    height: 17px;
    flex-grow: 1;
    background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 10px, #efefef 11px, #efefef 19px);
}

.box__title span::after {
    content: "";
    display: block;
    height: 17px;
    flex-grow: 1;
    background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 10px, #efefef 11px, #efefef 19px);
}

.motor__market--title {
    padding: 0 8px;
    font-size: 3rem;
}

/* list bike */
.motor__list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 100%;
    overflow: hidden;
    padding: 30px 10px;
    position: relative;
}

.bike__link {
    text-decoration: none;
    color: var(--black-color);
}

.box__bike--item {
    display: block;
    width: 275px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-right: 20px;
    transition: 0.5s;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.box__bike--item:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
}

.bike__link:hover 
.box__bike--name{
    color: var(--primary-color);
}

.bike__link:hover .box__bike--origin-text {
    color: var(--primary-color);
}

.box__bike-img {

}

.box__bike--name {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.8rem;
    height: 1.8rem;
    font-weight: 500;
    color: var(--black-color);
    margin: 8px 10px 8px 8px;
    /* hiện dấu ... khi nội dung quá dài */
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.box__bike-img img {
    width: 275px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.box__sub--title {
    position: absolute;
    top: 4px;
    left: 6px;
    display: inline-block;
    font-size: 1.6rem;
    padding: 6px 12px;
    color: var(--white-color);
    background-color: #f2994a;
    border-radius: 3px;
}

.box__bike--price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.box__bike--price-old  {
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through ;
}

.box__bike--price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 6px;
}

.box__bike--origin {
    margin-bottom: 10px;
}
.box__bike--origin-text {
    font-size: 1.4rem;
    color: #666;
    margin-left: 10px;
}

.box__bike--favourite {
    position: absolute;
    top: 194px ;
    left: 6px;
    font-size: 1.6rem;
    color: var(--white-color);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
}

.box__bike--favourite i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box__bike--sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64,0.94);
}

.box__bike--sale-off::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64,0.94) transparent rgba(255, 216, 64,0.94) ;    
}

.box__bike--sale-off-percent {
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.box__bike--sale-off-label {
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 600;
    color: var(--white-color);
}

.motor__list--arrow {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 35%;
    
}

.arrow-left,
.arrow-right {
    font-size: 3.6rem;
    width: 100px;
    height: 100px;
    border: 1px solid #c7c7c7;
    outline: none;
    border-radius: 50%;
    margin: 0 5px;
}

/* detail list */
.motor__detail-list {
    padding: 0;
    width: 100%;
    height: 670px;
    margin: 30px 0;
    padding-left: 40px;
}

.title-second {
    box-sizing: border-box;
    list-style: none;
    text-transform: uppercase;
    height: 26px;
    border: 0;
    outline: 0;
    margin-bottom: 20px;
    padding: 0;
}

.title-second-name {
    font-size: 2rem;
    float: left;
}

.bike-item__img {
    width: 200px; 
    height: 150px;
    object-fit: cover;
}




/* paper */
.box__paper {
    position: relative;
    border-top: 8px solid #2a313c;
    padding: 8px 0;
    text-align: center;
    margin-bottom: 12px;
    margin-top: 24px;
}

.box__paper span {
    max-width: 615px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.box__paper span::before {
    content: "";
    display: block;
    height: 17px;
    flex-grow: 1;
    background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 10px, #efefef 11px, #efefef 19px);
}

.box__paper span::after {
    content: "";
    display: block;
    height: 17px;
    flex-grow: 1;
    background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 10px, #efefef 11px, #efefef 19px);
}

.motor__market--paper {
    padding: 0 8px;
    font-size: 3rem;
}









footer {
    height: 300px;
}
