html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #111111;
}


.form_sub {
    background-color: #fff;
    padding: 30px;
    margin: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form_sub_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form_sub_header p {
    font-size: 30px;
    color: #111111;
    font-weight: 600;
}

.close-btn {
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
}

.form_center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_center input{
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 70%;
}



.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox .check {
    width: auto; 
    margin: 0px;
    margin-right: 10px;
}

.checkbox a {
    color: #007bff;
    text-decoration: none;
}

.checkbox a:hover {
    text-decoration: underline;
}


.submit-container{
    display: flex;
    flex-direction: column;
    width: auto;
}

.submit_btn {
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
}

.or-text {
    text-align: center;
    margin: 15px 0;
    color: #888;
}

.social-login {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
}

.social-login button {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
}

.facebook-btn {
    background-color: #3b5998;
    color: #fff;
}

.google-btn {
    background-color: #db4437;
    color: #fff;
}

.login-link {
    text-align: center;
    color: #888;
    margin-top: 10px;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}