body {
    background-image: url('https://png.pngtree.com/background/20230425/original/pngtree-red-motorcycle-parked-at-night-on-a-sidewalk-picture-image_2471457.jpg'); /* Thay URL ảnh nền vào đây */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.flex-flex {
    display: flex;
}

.flex-justifyContent--center {
    justify-content: center;
}

.padding-top--24 {
    padding-top: 24px;
}

.padding-top--48 {
    padding-top: 48px;
}

.box-root {
    box-sizing: border-box;
}


.logo {
    height: 60px;
    display: block;
    margin: 0 auto;
}


.form-container {
    background-color: #ffffff;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    color: #333;
    font-size: 20px;
    margin: 0 0 10px;
}

label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

input[type="text"],
input[type="email"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}


.captcha-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.captcha-container input {
    width: 60%;
}

.captcha-img {
    height: 1px; /
    width: 1px;
}

button {
    background-color: #ffcc66;
    border: none;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #ffb84d;
}
