:root {
  --primary-color: #ee4d2d ;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --border-color: #dbdbdb;
  --star--gold-color: #ee9d09;
  --main-bg-color: #414e66;
  --sub-bg-color: #f2f7fb;
  --main-transition: all 0.3s ease;
  --top-height : 70px;
  --color-hover-text: #4a87ce;

}

* {
    box-sizing: inherit;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  /* .row__grid {
    display: grid;
    justify-content: space-between;
  } */

  @keyframes notification {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

.row__grid {
  display: grid;
  justify-content: space-between;
}

.flex-box {
  display: flex;
}

/* Add fade-in animation */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes slideIn {
  from {
      transform: translateY(20px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.slide-in {
  animation: slideIn 0.5s ease-in-out;
}

.hovered {
  background-color: #e0f7fa;
  transition: background-color 0.3s ease;
}